<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        button{
            cursor: pointer;
        }
    </style>

    <button id="login">로그인</button>
    <button id="sign">회원가입</button>
    <!-- <button></button> -->

    <br>
    <br>
    <br>
    <button id="write">글쓰기</button>
    <button id="notice-board">게시판</button>

    <script type="module" src="/view/main/main.js"></script>
    
</body>
</html>